{% extends "base.html" %}
{% block selectedHome %} selected{% endblock %}
{% block body %}
<section id="main">
  <div class="box wfilter" id="map">
    <header>
      <h1 id="map-header">Mapa de Ocorrências</h1>
     <!-- <% link_to 'Locate', nil, :class => 'locate' %> -->
    </header>
    <div id="canvas"></div>
  </div>
</section>
<aside id="sbar">
  <!-- offense-nav -->
  <section id="offense-nav" class="box">
    <header><h1>Tipos de Ocorrência</h1></header>
    <ul class="offenses"> 
        {% for natureza in naturezas %}
        <li class="group" data-code="<%= permalink[0..1] %>">
          <span class="otype">
            <span class="check group" data-code="vi">-</span>
              <a href="/#{{ natureza }}">
               {{ natureza }}</a>
            <span class="exp collapsed">9</span>
          </span>
          <ul class="offenses" style="<%= collapse ? 'display:none' : '' %>">
            {% for tipo in tipos %}
               {% if tipo.natureza == natureza %}
            <li class="off">
              <span class="check" data-code="{{ tipo.sigla }}">3</span>
              <a href="/delito/{{ tipo.codigo }}">  {{ tipo }}</a>
              <span class="code">({{ tipo.sigla }})</span>
            </li>
                {% endif %}
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>
  </section>
  <!-- /offense-nav -->
  <!--
  <section id="p1" class="box faded">
    <g:plusone></g:plusone>  
  </section> -->
</aside>

  {% endblock %}